[submodule "themes/osuny"]
	path = themes/osuny
	url = git@github.com:osunyorg/theme.git
[submodule "themes/osuny-www-design-system"]
	path = themes/osuny-www-design-system
	url = git@github.com:noesya/osuny-www-design-system.git
