$color-accent: #ffc400
$color-text: #FFFFFF
$color-text-alt: #CCCCCC
$color-border: rgba(255, 255, 255, 0.2)
$color-background-alt: #000000
$color-background: #222222

$body-font-family: "Aestetico", sans-serif
$heading-font-family: $body-font-family
$serif-font-family: "Big Moore", serif
$h1-weight: normal
$h2-size-desktop: px2rem(30)
$lead-weight: bold
$lead-sidebar-size-desktop: px2rem(40)
$quote-font-family: $serif-font-family

$header-background: transparent
$header-dropdown-full: true
$header-logo-height: 32px
$header-logo-height-desktop: 48px
$header-sticky-background: $color-background-alt
$header-border-bottom-width: 0
$header-sticky-color: $color-text
$hero-background-color: transparent
$hero-height: 300px !default
$hero-height-desktop: 300px
$body-overlay-color: rgba(0, 0, 0, 0.8)
$breadcrumb-below-h1: true
$breadcrumb-color-active: $color-text-alt
$footer-background-color: $color-background
$posts-layout-list: false

$block-pages-card-background: $color-background-alt
$block-pages-card-page-background: $color-text-alt
$block-pages-card-page-color: $color-background-alt
$block-pages-card-page-background-hover: $color-text
$block-pages-card-page-color-hover: $color-background-alt
$block-testimonials-color: $color-text