.menu
    .dropdown-menu
        max-height: calc(100vh - 190px)

.home-search-container
    margin-top: var(--grid-gutter)
    .pf-trigger-btn
        @include button
        @include button-small
        @include icon(search-line, after)
            padding-left: 10px